.page-enter-active, .page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter, .page-leave-to /* .page-leave-active in <2.1.8 */ {
  opacity: 0;
}

:root {
  --blue: #80fffb;
  --white: #eeeeee;
  --green: #c4fa6f;
  --gray: #3a3f47;
  --coral: #FF6F61;

}
